body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
}

.main {
  width: 100%;
  height: 100%;
  text-align: center;
}

.main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}